body
{
    background-color: aqua;
}

h1
{
    color: blueviolet;
}

.img_profile_header
{
    width: 40px;
    height: 40px;
    background-color: aqua;
}

.content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.border_div
{
    border-radius: 10px;
    border: solid 1px rgb(68, 67, 67);
    padding: 20px;
}
