{% extends 'base.html' %}

{% block content %}


<div class="content">
  <div class="border_div">
    <div class="box_form">
      <div class="header_form">
        <h1>Change password</h1>
      </div>
      <div class="form_body">
          
        <form id="id_password_change_form" method="POST" class="form-signin">{% csrf_token %}
          <input name="old_password" placeholder="Old password" type="password" id="id_old_password" required="true"><br><br>
          <input name="new_password1" placeholder="New password" type="password" id="id_new_password1" required="true"><br><br>
          <input name="new_password2" placeholder="Confirm password" type="password" id="id_new_password2" required="true"><br><br>
          <button id="id_submit_btn" type="submit">Update</button>
          
      </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
