{% extends 'base.html' %}


{% block content %}


<form method="POST" >{% csrf_token %}
  <h1 >Reset password</h1>
    <input name="email" placeholder="Email address" type="email" id="id_email" required="true" >
  <button >Send reset email</button>
</form>


<script type="text/javascript">

  var submitButton = document.getElementById('id_submit_btn');
  var form = document.getElementById('id_password_reset_form');

  // Add a listener to the click event
  submitButton.addEventListener('click', function (e) {

      AndroidTextListener.onLoading(true)

      e.preventDefault();
      var email = document.getElementById("id_email").value

      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/api/account/check_if_account_exists/?email=' + email);
      xhr.onload = function() {
          if (xhr.status === 200) {
              var response = JSON.parse(xhr.responseText)
              if(response.response == email){
                console.log(email + " is a valid email!")
                form.submit()
                AndroidTextListener.onSuccess(email)
              }
              else{
                console.log(email + " is NOT valid email!")
                AndroidTextListener.onError("That email doesn't exist on our servers.")
              }
          }
          else {
              console.log(xhr.status)
          }
          AndroidTextListener.onLoading(false)
      };
      xhr.send();

  });

</script>


{% endblock %}
